
.contact-form-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 30px;
    background-color: #ffffff; 
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    font-family: 'Roboto', sans-serif;
}


.form-title {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 30px;
    color: #333;
}

.footer-text {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 20px;
    font-weight: 400;
}


.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 25px;
    width: 95%;
}

.form-group label {
    font-size: 1.2rem;
    font-weight: 600;
    color: #333; 
    margin-bottom: 8px;
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: 15px;
    margin-top: 5px;
    border: 2px solid #ccc; 
    border-radius: 10px;
    font-size: 1.1rem;
    color: #333; 
    background-color: #f4f4f4; 
    transition: border-color 0.3s ease, background-color 0.3s ease;
}
.form-group input:focus, 
.form-group textarea:focus {
    border-color: #333; 
    outline: none;
    background-color: #ffffff;
}

.form-group textarea {
    resize: vertical;
    min-height: 150px;
}
.submit-button {
    padding: 15px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 1.2rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}
.submit-button:hover {
    background-color: #555; 
    transform: translateY(-2px);
}
.submit-button:active {
    transform: translateY(1px);
}
@media (max-width: 768px) {
    .contact-form-container {
        padding: 20px;
        width: 85%;
        margin-right: 3%;
    }
    
    .form-group label {
        font-size: 1.1rem;
    }

    .form-group input, 
    .form-group textarea {
        font-size: 1rem;
    }

    .submit-button {
        font-size: 1.1rem;
        padding: 12px;
    }
    .form-group {
        width: 91%;
    }
}
@media (max-width: 480px) {
    .contact-form-container {
        padding: 15px;
    }

    .form-group label {
        font-size: 1rem;
    }

    .form-group input, 
    .form-group textarea {
        font-size: 0.95rem;
    }

    .submit-button {
        padding: 10px;
        font-size: 1rem;
    }
}
