@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

.container {
    width: 90%;
    max-width: 800px;
    background-color: #111;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.1);
    border: 1px solid #333;
    animation: fadeIn 0.8s ease-in-out;
    text-align: center;
}

header {
    text-align: center;
    padding-bottom: 10px;
}

h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h2 {
    color: #fff;
    font-size: 22px;
    margin-top: 30px;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin-top: 10px;
    color: #ccc;
}

footer {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #777;
}

.back-button {
    display: block;
    width: 100%;
    max-width: 300px;
    margin: 30px auto 10px;
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    background: #fff;
    color: #000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
}


.back-button:hover {
    background: #ccc;
    color: #000;
    transform: scale(1.05);
}


.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.fade-in.visible {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
